$black: #22292f;
$grey-darkest: #3d4852;
$grey-darker: #606f7b;
$grey-dark: #8795a1;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$grey-lighter: #f1f5f8;
$grey-lightest: #f8fafc;
$white: #ffffff;

$red-darkest: #3b0d0c;
$red-darker: #621b18;
$red-dark: #cc1f1a;
$red: #e3342f;
$red-light: #ef5753;
$red-lighter: #f9acaa;
$red-lightest: #fcebea;

$orange-darkest: #462a16;
$orange-darker: #613b1f;
$orange-dark: #de751f;
$orange: #f6993f;
$orange-light: #faad63;
$orange-lighter: #fcd9b6;
$orange-lightest: #fff5eb;

$yellow-darkest: #453411;
$yellow-darker: #684f1d;
$yellow-dark: #f2d024;
$yellow: #ffed4a;
$yellow-light: #fff382;
$yellow-lighter: #fff9c2;
$yellow-lightest: #fcfbeb;

$green-darkest: #0f2f21;
$green-darker: #1a4731;
$green-dark: #1f9d55;
$green: #38c172;
$green-light: #51d88a;
$green-lighter: #a2f5bf;
$green-lightest: #e3fcec;

$teal-darkest: #0d3331;
$teal-darker: #20504f;
$teal-dark: #38a89d;
$teal: #4dc0b5;
$teal-light: #64d5ca;
$teal-lighter: #a0f0ed;
$teal-lightest: #e8fffe;

$blue-darkest: #12283a;
$blue-darker: #1c3d5a;
$blue-dark: #2779bd;
$blue: #3490dc;
$blue-light: #6cb2eb;
$blue-lighter: #bcdefa;
$blue-lightest: #eff8ff;

$indigo-darkest: #191e38;
$indigo-darker: #2f365f;
$indigo-dark: #5661b3;
$indigo: #6574cd;
$indigo-light: #7886d7;
$indigo-lighter: #b2b7ff;
$indigo-lightest: #e6e8ff;

$purple-darkest: #21183c;
$purple-darker: #382b5f;
$purple-dark: #794acf;
$purple: #9561e2;
$purple-light: #a779e9;
$purple-lighter: #d6bbfc;
$purple-lightest: #f3ebff;

$pink-darkest: #451225;
$pink-darker: #6f213f;
$pink-dark: #eb5286;
$pink: #f66d9b;
$pink-light: #fa7ea8;
$pink-lighter: #ffbbca;
$pink-lightest: #ffebef;

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
$inset-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.12),
  inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  background: $yellow-light;
  font-family: system-ui;
  line-height: 1.15;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crumbs {
  width: 100%;
  background: $black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: $grey;
  min-height: 44px;

  &__short {
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    &--empty {
      display: none;
    }
    &::-webkit-details-marker {
      display: none;
    }
    &::before {
      display: flex;
      height: 44px;
      width: 44px;
      align-items: center;
      justify-content: center;
      content: "◀";
    }
  }
  &[open] &__short {
    color: $grey-darkest;
    &::before {
      content: "▼";
    }
  }

  &__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    min-height: 44px;
    color: $grey;
    @for $i from 0 through 10 {
      &:nth-child(#{$i}) {
        margin-left: #{($i - 2) / 2}rem;
        //                 ^ first child is summary of details tag
        &::before {
          display: flex;
          height: 44px;
          width: 44px;
          align-items: center;
          justify-content: center;
          content: "⎆";
          margin-right: 0.5rem;
        }
      }
    }
    &:first-child::before {
      content: "🏠";
    }
  }
}

section.md {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 35rem;
  padding: 1rem 2rem;
}

@for $i from 1 through 6 {
  h#{$i}.md {
    font-size: #{3 - ($i - 1) / 4}rem;
    margin-top: #{2 - ($i - 1) / 4}rem;
    hr.md + & {
      margin-top: 0;
    }
  }
}

@for $i from 1 through 6 {
  h#{$i}.md {
    color: $black;
    font-weight: bold;
    // &:first-child {
    //   margin-top: 0;
    // }
  }
  @for $j from 1 through 6 {
    h#{$i}.md + h#{$j}.md {
      margin-top: 0;
    }
  }
}

div.md {
  color: $black;
  margin-top: 2rem;
  hr.md + & {
    margin-top: 0;
  }
  &.info,
  &.warn,
  &.error {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    box-shadow: $shadow;
  }

  &.info {
    background: $yellow-lightest;
  }

  &.warn {
    background: $orange;
  }

  &.error {
    background: $red;
    font-weight: 700;
  }
}

span.md {
  font-size: 1.2rem;
}

a.md {
  text-decoration: underline;
  color: $blue-darkest;
}

.seeother {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  background: $yellow-lighter;
  color: $yellow-darker;
  border-radius: 0.6rem;

  &__label {
    display: block;
    font-size: 1.2rem;
    margin: 1px;
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 2;
    margin-left: 0;
    border-radius: 0.5rem;
  }

  & + span.md + & {
    margin-top: 1rem;
  }

  &::before {
    content: "⎆";
    color: $yellow-dark;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  &__label,
  &::before {
    transition: margin-left 100ms ease-in-out, left 100ms ease-in-out,
      opacity 100ms ease-in-out;
  }

  &:hover,
  &:focus {
    color: $yellow-darkest;
  }
  &:hover &__label,
  &:focus &__label {
    margin-left: 1rem;
  }
  &:hover::before,
  &:focus::before {
    left: 0;
    opacity: 1;
  }

  &:active {
    box-shadow: $inset-shadow;
  }
}

hr.md {
  height: 1px;
  border: 0;
  background: $yellow-dark;
  width: 50%;
  margin: 2rem auto;
}

code {
  &.code-inline,
  &.code-block {
    background: $black;
    color: $white;
    border-radius: 0.5rem;
    box-shadow: $shadow;
    white-space: pre;
  }
  &.code-inline {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 0.25rem;
  }
  &.code-block {
    display: block;
    padding: 1rem;
    div.md > & {
      margin-top: -0.5rem;
    }
    margin-left: -1rem;
    margin-right: -1rem;
    overflow-x: auto;
  }
}
